<manifest xmlns:a="http://schemas.android.com">
    <application a:hasCode="true">
        <activity a:name="${mainActivityName}" a:exported="true">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
